.mainButton{
    /* Button */
    position: absolute;
    width: 333px;
    height: 48px;
    /*left: 59px;
    top: 389px;*/
}

.Reactangle-8{
    /* Rectangle 8 */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FD0157;
    border-radius: 5px;
}

.SignIn{
    /* Sign in */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 27.08%;
    bottom: 27.08%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}