.Dropzone{
    /* Dropzone */
    position: absolute;
    width: 329px;
    height: 128px;
    left: 60px;
    top: 489px;
}

.Reactangle-9{
    /* Rectangle 9 */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    border: 2px dashed #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
}

.DropImageHere{
    /* Drop image here */
    position: absolute;
    left: 30.09%;
    right: 29.79%;
    top: 41.41%;
    bottom: 41.41%;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #8F8F8F;
}